/* первичный цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* цвета лого #000000; FFFFFF; #2196F3 */
/* цвет акцента #2196F3 */
/* белый #FFFFFF */
/* цвет фона #E5E5E5 */

:root{
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;


}

body{
    background-color: #FFFFFF;
    font-family: Roboto, sans-serif ;

}

.header-logo{
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;  
    letter-spacing: 0.03em;
}
.header-logo-part{
    color:#000000 ;
}
.list{
    list-style: none;
}
.nav-link{
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.nav-link.curent{
    color: var(--accent-color);
}

.team {
    background-color: #F5F4FA;
}

.footer{
    background: #2F303A;
}

.footer-logo{
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.footer-logo-part{
    color: #FFFFFF;
}

.footer-link{
    color: #FFFFFF;
}
.footer-link:hover,
.footer-link:focus{
    color: var(--accent-color);
}

.place{
    color: #FFFFFF;
}

.section-title{
    color: var(--title-color) ;
}

.btn{
    background-color:#FFFFFF;
    color: var(--title-color);
   
}
.btn:hover,
.btn:focus{
    background-color: var(--accent-color);
    color:#FFFFFF ;
    
}
.examples{

}
.section-text{
    color: var(--text-color);
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36; 
    text-align: center;
    letter-spacing: 0.06em;
}

.hero-button{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.section-text{
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.ex-section-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}